@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
  @apply bg-levi-900 font-barlow text-levi-200;
}

label {
  @apply inline-flex flex-col text-xs font-light text-levi-400 md:text-base;
}

input {
  @apply mt-1 w-full rounded-md bg-levi-900 p-2 text-right font-light text-levi-300 outline-none focus:ring-1 focus-visible:ring-fuchsia-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-orb;
}

p {
  @apply text-levi-400;
}

b {
  @apply font-semibold;
}

.gradient-border {
  @apply rounded-lg bg-gradient-to-b from-orange-300 to-red-300 bg-origin-border p-[1px];
}

thead {
  @apply sticky top-6 bg-levi-800 before:absolute before:-top-6 before:-left-1 before:z-10 before:h-6 before:w-[102%] before:bg-levi-900 after:absolute after:inset-0 after:bottom-[2px] after:w-full after:border-t after:border-b after:border-levi-600;
}

th {
  @apply border border-y border-levi-600 p-1 font-orb text-[10px] font-medium text-levi-300 md:p-2 md:text-sm;
}

td {
  @apply border border-levi-600 bg-levi-900 p-0.5 text-[10px] font-light md:p-2 md:text-sm;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tooltip {
  @apply cursor-pointer;
  &:hover + .tooltip-content {
    @apply -right-2 bottom-6 inline-block w-28;
    &.icon {
      @apply bottom-5;
    }
  }
}

.tooltip-content {
  @apply text-[10px] leading-[14px] drop-shadow-lg text-levi-300 p-1 bg-levi-700 font-barlow font-light rounded-md  absolute hidden border-[0.5px] border-levi-600;
}
